<%if @alert%>
    <div class="alert alert-danger" role="alert"><h4><%=@alert%></h4></div>
<%end%>
<style>
    .title{
        font-family: 'Pacifico', cursive;
    }
    .well{
        background-color: rgba(154, 227, 198, .7);
        border-color: rgb(154, 227, 198);
    }
    body{
        background-color: #363937;
    }
</style>
<br>
<div class="col-lg-1"></div>
<div class=" col-lg-10">
    <div class="well">
        <center>
            <form action="/create" method="post">
                <div class="row">
                    <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <h1 class="title">Enter Url to Shorten</h1>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </span>
                                <input class="form-control" type="text" name="long_url" aria-describedby="basic-addon1">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit" value="Submit This Form">Shorten</button>
                                </span>
                            </div>
                        </div>
                     <div class="col-lg-3"></div>
                </div> 
            </form>
            <br>
            <br>
        </center>
    </div>
    <br>
    <%if @hash_key%>
        <div class="well">
            <center>
                <p><b>Your new url for: </b> <%=@long_url%></p>
                <h1><%=@short_url%></h1>
            </center>
        </div>
    <%end%>
    <div class="well">
        <center>
            <h1 class="title">Top 100 Urls by Hits</h1>
            <br>
            <ul class="list-group">
                <% @records.each_with_index do |r, index| %>
                    <li class="list-group-item">
                        <h5><span class="badge"><%=index+1%></span></h5>
                        <p><b>Orginal Url: </b><%=r.long_url%></p>
                        <p><b>Shorten Url: </b><%=@base_url+r.idKey%></p>
                        <p><b>Count: </b><%=r.count%></p>
                    </li>
                <%end%>
            </ul>
        </center>
    </div>
</div>
<div class="col-lg-1"></div>


